@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Itim;
    src: url("./fonts/Itim-Regular.ttf");
}

@font-face {
    font-family: Lemon;
    src: url("./fonts/Lemon-Regular.ttf");
}


html {
    overflow: hidden !important;
}

/* Ajouter un défilement uniquement sur les petits écrans */
/*@media screen and (max-width: 600px) {
    html {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}
*/